<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190919531619-ipbsl4gtdiugkdah4st5iaio5d2dbvsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190919531619-ipbsl4gtdiugkdah4st5iaio5d2dbvsh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>190919531619-2ip9jc6m0t2i5i9cl6dovhjm46rteb7p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqIFEwl2201CfcbA7p89wLJmOTkhMv7Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>190919531619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatChat</string>
	<key>PROJECT_ID</key>
	<string>chat-9fc74</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-9fc74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190919531619:ios:c6a1ecb947b4f9b2232c56</string>
	<key>DATABASE_URL</key>
	<string>https://chat-9fc74-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>